@font-face {
    font-family: "OpenSans";
    src:url("opensans/OpenSans-Regular.ttf") format("truetype");
}  

@font-face {
    font-family: "OpenSans Bold";
    src:url("opensans/OpenSans-Bold.ttf") format("truetype");
}  

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "OpenSans";
    background: url("imgs/marjan-blan-_kUxT8WkoeY-unsplash.jpg") center center;
}

/* Navigation */
nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    list-style: none;
}

@media screen and (min-width: 960px) {
    nav {
        padding: 20px 0;
    }
    nav ul {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

nav ul li {
    flex: 1;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: rgb(9, 103, 84);
    font-weight: 800;
    letter-spacing: 2px;
}

nav ul li a:hover {
    color: rgba(0,200,198,1);
}

.section {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.sub-section {
    margin-bottom: 50px;
}

.section h2 {
    margin: 20px 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
}

.bio {
    background: rgb(22,219,30);
    background: linear-gradient(28deg, rgba(22,219,30,1) 0%, rgba(0,194,200,1) 100%); 
    background: -moz-linear-gradient(28deg, rgba(22,219,30,1) 0%, rgba(0,194,200,1) 100%);
    text-align: center;
    padding : 50px 0 30px 0;
    margin-bottom: 40px;
}

.bio h1 {
    font-family: "OpenSans Bold";
}

.bio p {
    color: #fff;
}

.bio #bio-name {
    text-transform: uppercase;
    color: rgb(4, 70, 56);
    text-shadow: 0 1px 1px rgba(255,255,255,0.6);
}

.bio #profile-photo {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 200px;
    overflow: hidden;
    margin-bottom: 20px;
}

.bio #profile-photo img {
    width: 100%;
}

.bio a {
    color: #000;
    padding: 4px 15px;
    border-radius: 16px;
    text-decoration: none;
    margin-top: 20px;
}

.bio a:hover {
    border: 1px solid #000;
}

.mb-1 { margin-bottom: 10px; }
.mb-2 { margin-bottom: 20px; }

/* Languages */
.lang-list {
    list-style-type: none;
}

.lang-list li {
    display: inline-block;
    border: 1px solid #999;
    border-radius: 100px;
    margin-right: 20px;
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
}

/* Work */
.work-tag {
    padding: 20px;
    margin-bottom: 20px;
    transition: background 0.1s ease-in-out;
    border-radius: 20px;
}

.work-tag:hover {
    background: #f1f1f1;
}

.work-tag .flex {
    display: flex;
    align-content: space-between;
}

.work-tag h3 {
    flex: 1;
    display: block;
    font-size: 16px;
}

.work-tag .duration {
    flex: 1;
    font-size: 12px;
    color: #999999;
    font-style: italic;
    text-align: right;
}

.work-tag .designation {
    margin-bottom: 10px;
    font-size: 14px;
}

.work-tag .department {
    font-size: 14px;
    margin-bottom: 10px;
}

.work-tag .job_type {
    font-size: 12px;
    color: #fff;
    background: rgb(14, 209, 170);
    padding: 5px 10px;
    display: inline;
    border-radius: 10px;
}

.work-tag .current-working-status {
    color: rgb(14, 209, 170);
    font-style: normal;
}

.work-tag .more-info {
    margin-top: 20px;
    padding: 20px 0;
}

.work-tag .more-info h4 {
    margin-bottom: 10px;
}

.work-tag .more-info ul {
    padding-left: 20px;;
}

.work-tag .more-info ul li {
    list-style-type: none;
    margin-bottom: 20px;
    font-size: 14px;
}

.work-tag .more-info ul li:last-child {
    margin-bottom: 0;
}

.work-tag .more-info ul li i {
    margin-right: 10px;
}

.work-tag .more-info-btn {
    background-color: #666;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 10px;
}

.work-tag .more-info-btn:hover {
    background-color: #999;
}

/* Education Qualification */
.edu-box {
    display: flex;
    border-bottom: 1px solid #999;
    padding: 20px 0;
}

.edu-box div {
    flex: 1;
}

.edu-box .details h3 {
    margin-bottom: 10px;
    font-size: 16px;
}

.edu-box .details p {
    color: #999;
    font-size: 14px;
}

.edu-box .details p a {
    color: #999;
    text-decoration: none;
}


/* Notification */
.notification {
    position: absolute;
    top: 0;
    left: 50%;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    background: purple;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.3s ease-in;
    box-shadow: 0 5px 4px rgba(0,0,0,0.4);
}

.reveal-notify {
    top: 20px;
    width: 320px;
    opacity: 1;
}

.notification-error {
    background: red;
    color: white;
}

.notification-success {
    background: rgb(6, 210, 6);
    color: black;
}

.notification-warning {
    background: rgb(249, 234, 12);
    color: black;
}

.placeholder {
    background: rgba(0,0,0,0.4);
    height: 20px;
    display: block;
    width: 20%;
    margin: 0 auto;
    border-radius: 10px;
}

/* Projects */
.project-hero {
    background: rgba(255,255,255,0.5);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.project-grid .project-box h2,
.project-hero h2 {
    margin: 0;
}
.project-grid .project-box h2 {
    min-height: 40px;
    display: inline-block;
}
.project-hero p {
    padding: 10px 0;
}
.project-grid .project-box .img,
.project-hero .img {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}
.project-hero .img {
    height: 320px;
}
.project-grid .project-box .img {
    height: 200px;
}
.project-grid .project-box .img img,
.project-hero .img img {
    width: 100%;
}
.project-grid .project-box .meta,
.project-hero .meta {
    font-size: 12px;
    padding: 10px 0;
}
.project-grid .project-box .meta span,
.project-hero .meta span {
    margin-right: 10px;
}
.project-grid {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
}
.project-grid .project-box {
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
    padding: 10px;
}
.project-hero .badge,
.project-grid .project-box .badge {
    font-size: 12px;
    background: rgb(219,22,22);
    background: linear-gradient(28deg, rgba(219,22,22,1) 0%, rgba(0,200,198,1) 100%); 
    background: -moz-linear-gradient(28deg, rgba(219,22,22,1) 0%, rgba(0,200,198,1) 100%); 
    color: #fff;
    padding: 10px;
    border-radius: 40px;
    margin: 10px 0;
    display: inline-block;
}
.project-grid .project-box .tags,
.project-hero .tags {
    list-style: none;
    padding: 10px 0;
}
.project-grid .project-box .tags li,
.project-hero .tags li {
    display: inline-block;
    font-size: 12px;
    border: 1px solid #999;
    padding: 2px 5px;
    border-radius: 5px;
    margin-right: 5px;
}
@media screen and (min-width: 770px) {
    .project-grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 960px) {
    .project-grid {
        grid-template-columns: 1fr 1fr;
    }
}
.goto-btn {
    color: #fff;
    background: rgb(22,219,30);
    background: linear-gradient(28deg, rgba(22,219,30,1) 0%, rgba(0,194,200,1) 100%); 
    background: -moz-linear-gradient(28deg, rgba(22,219,30,1) 0%, rgba(0,194,200,1) 100%);
    text-decoration: none;
    border-radius: 40px;
    text-align: center;
    transition: all 0.5s ease;
    display: inline-block;
    line-height: 20px;
    margin: 10px 0;
}
.goto-btn:hover {
    transform: scale(1.1);
    color: #000;
}
.goto-btn-mini {
    padding:10px;
    width: 20px;
    height: 20px;
}
.goto-btn-normal {
    padding: 10px 15px;
}

/* Skills */
.skills h3 {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.skills h3:first-child {
    margin-top: 0;
}

.skillset li {
    list-style-type: none;
    height: 20px;
    border-radius: 20px;
    border: 1px solid #999;
    margin-bottom: 10px;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    color: #000;
    line-height: 16px;
}

.skillset li .color-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
}

.skillset li .color-bar .solid-color {
    animation: progressBar 3s ease-in-out;
    animation-fill-mode:both;
    background: rgb(22,219,30);
    background: linear-gradient(28deg, rgba(22,219,30,0.499019676229867) 0%, rgba(0,194,200,0.7) 100%);
    background: -moz-linear-gradient(28deg, rgba(22,219,30,0.499019676229867) 0%, rgba(0,194,200,0.7) 100%);
    width: 30px;
    display: block;
    height: 100%;
}


@keyframes progressBar {
    0% { width: 0; }
    100% { width: 100%; }
}
